.weather__header {
  font: .8em Arial, Helvetica, sans-serif;
}

.weather__cols {
  
}

.weather-item {
  display: inline-block;
  margin: 10px;
  width: 100px;
  height: 100px;
  background-color: #ccc;
}